@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body{
  background-color: #ECE433;
}
h1, h4{
  font-family: 'Oswald', sans-serif;
}
h5{
  font-size:14pt;
}
.contenedor{
  width: auto;
  height: auto;
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  text-align: justify;
}
.frase{
  margin-top: 40px;
  text-align: center;
  text-decoration:underline;
}
.imgs{
  width: 100%;
  height: auto;
}
.encabezado{
  text-align: center;
}
.pie{
  text-align: center;
  margin-top:30px;
}
